body {
    background-color: #363738;
    color: #28eea7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    margin-bottom: 20px;
}

#players {
    margin-bottom: 20px;
}

.player{
    margin:  20px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    margin-top: 20px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 300px;
    height: 300px;
}

.board td {
    width: 100px;
    height: 100px;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.board td.win {
    background-color: #4CAF50;
}

.board td:hover {
    background-color: #e6e6e6;
}

.score {
    font-size: 24px;
    margin-bottom: 10px;
}

#message {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

#reset-btn {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #28eea7;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#reset-btn:hover {
    background-color: #363738;
    color: #28eea7;
    border: 2px solid #28eea7;
}
